<h1> Meet the Team </h1>
<h2>Kohl Kohlbrenner | <%= link_to '', "http://www.twitter.com/k_kohlbrenner", target: '_blank', class: "fa fa-twitter" %></h2>
<p> Rock superstar developing his programming skills through blood, sweat, and many, many tears.</p>